@page
@model OSS.Web.Pages.ShiftTypes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ShiftType</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftType.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShiftType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftType.StartOffsetHrs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShiftType.StartOffsetHrs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftType.StartOffsetMins)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShiftType.StartOffsetMins)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftType.RoasterSequence)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShiftType.RoasterSequence)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftType.ShiftSequence)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShiftType.ShiftSequence)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftType.ColorString)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShiftType.ColorString)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ShiftType.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
