@page
@model OSS.Web.Pages.ShiftTypes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ShiftType</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftType.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShiftType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftType.StartOffsetHrs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShiftType.StartOffsetHrs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftType.StartOffsetMins)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShiftType.StartOffsetMins)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftType.RoasterSequence)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShiftType.RoasterSequence)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftType.ShiftSequence)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShiftType.ShiftSequence)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftType.ColorString)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShiftType.ColorString)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ShiftType.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
