@model IEnumerable<OpenShiftScheduler.Models.AppModels.ShiftParticipationType>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAbsence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColorString)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAbsence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsBold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ColorString)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ShiftParticipationTypeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ShiftParticipationTypeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ShiftParticipationTypeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
