@page
@model OSS.Web.Pages.LeaveRequests.DetailsModel
@using OSS.App.Security;
@using OSS.Domain.Entities;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Details";
    string loggedInUserId = userManager.GetUserId(User);
}

<div>
    <h4>Leave Request</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Created At
        </dt>
        <dd class="col-sm-10">
            @Model.LeaveRequest.Created.ToString("dd MMM yyyy HH:mm")
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            From
        </dt>
        <dd class="col-sm-10">
            @Model.LeaveRequest.StartDate.ToString("dd MMM yyyy HH:mm")
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            To
        </dt>
        <dd class="col-sm-10">
            @Model.LeaveRequest.EndDate.ToString("dd MMM yyyy HH:mm")
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Requester
        </dt>
        <dd class="col-sm-10">
            @Model.LeaveRequest.Employee.DisplayName
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Remarks
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeaveRequest.Remarks)
        </dd>
    </dl>
    @if (Model.LeaveRequest.IsExecuted)
    {
        <dl class="row">
            <dd class="col-sm-12">
                This request is executed
            </dd>
        </dl>
    }
    else if (User.IsInRole(SecurityConstants.AdminRoleString))
    {
        <dl class="row">
            <dd class="col-sm-12">
                <a class="btn btn-primary" asp-page="/LeaveRequests/Execute" asp-route-id="@Model.LeaveRequest.Id">Execute Request</a>
            </dd>
        </dl>
    }

    @if (Model.LeaveRequest.IsApproved)
    {
        <dl class="row">
            <dd class="col-sm-12">
                This request is approved
            </dd>
        </dl>
    }

    @if (User.IsInRole(SecurityConstants.AdminRoleString))
    {
        <dl class="row">
            <dd class="col-sm-12">
                <form method="post">
                    <input type="submit" value="@(Model.LeaveRequest.IsApproved?"Mark Unapproved":"Mark Approved")" class="btn @(Model.LeaveRequest.IsApproved?"btn-danger":"btn-success")" asp-page-handler="ToggleApproval" asp-route-id="@Model.LeaveRequest.Id" />
                </form>
            </dd>
        </dl>
    }

    @if (Model.LeaveRequest.LeaveRequestComments.Count > 0)
    {
        <h4>Comments</h4>
        @foreach (var item in Model.LeaveRequest.LeaveRequestComments)
        {
            <div>
                <label class="commenterName">@item.CreatedBy.DisplayName</label>
                <label class="commentTime">@($" - {item.Created.ToString("dd MMM yyyy HH:mm")}")</label>
                @if (User.IsInRole(SecurityConstants.AdminRoleString) || item.CreatedById.Equals(loggedInUserId))
                {
                    <a asp-page="/LeaveRequestComments/Delete" asp-route-id="@item.Id" style="color:darkred;font-size:small">delete</a>
                }
                <p class="commentBody">
                    @item.Comment
                </p>
                <hr />
            </div>
        }
    }
    else
    {
        <dl class="row">
            <dd class="col-sm-12">
                No comments recieved yet...
            </dd>
        </dl>
    }
</div>

<div>
    <form method="post">
        <textarea placeholder="Enter New Comment here..." asp-for="Comment"></textarea>
        <br />
        <input type="submit" value="Add Comment" class="btn btn-outline-success" />
        <br />
        <span asp-validation-for="Comment" class="text-danger"></span>
    </form>
    <p><a asp-page="./Index">Back to Leave Requests List</a></p>
</div>

@section Scripts{
    <style>
        .commenterName {
            color: darkgoldenrod
        }

        .commentTime {
            color: gray;
            font-size: small;
        }
    </style>
}