@page
@model OSS.Web.Pages.LeaveRequests.IndexModel
@{
    ViewData["Title"] = "Leave Requests";
}

<p>
    <a asp-page="Create" class="btn btn-sm btn-success">Create New</a>
</p>
<table id="dis_table" class="table table-striped table-bordered table-hover" style="width:100%">
    <thead>
        <tr>
            <th>
                Created At
            </th>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>
                Requester
            </th>
            <th>
                Remarks
            </th>
            <th>
                Executed
            </th>
            <th>
                Approved
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests)
        {
            <tr>
                <td>
                    <label class="hiddenDate">@item.Created.ToString("yyyy-MM-dd HH:mm:ss")</label> @item.Created.ToString("dd-MMM-yyyy HH:mm")
                </td>
                <td>
                    <label class="hiddenDate">@item.StartDate.ToString("yyyy-MM-dd HH:mm:ss")</label> @item.StartDate.ToString("dd-MMM-yyyy")
                </td>
                <td>
                    <label class="hiddenDate">@item.EndDate.ToString("yyyy-MM-dd HH:mm:ss")</label> @item.EndDate.ToString("dd-MMM-yyyy")
                </td>
                <td>
                    @item.Employee.DisplayName
                </td>
                <td>
                    @item.Remarks
                </td>
                <td>
                    @(item.IsExecuted ? "Yes" : "No")
                </td>
                <td>
                    @(item.IsApproved ? "Yes" : "No")
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    @if (!item.IsApproved)
                    {
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/fc-3.2.5/fh-3.1.4/r-2.2.2/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/fc-3.2.5/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
    @*<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>*@
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    @*<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    @*<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>*@
    <style>
        .hiddenDate {
            color: transparent;
            font-size: 0.1em
        }
    </style>

    <script>
        $(document).ready(function () {
            $('#dis_table').DataTable({
                fixedColumns: true,
                "order": [[ 0, 'desc' ]],
                scrollX: true,
                columnDefs: [{
                    targets: [0],
                    orderData: [0]
                }],
                scrollCollapse: true,
                paging: false,
                dom: 'Bfrtip',
                buttons: ['pdf']
            });
        });
    </script>
}

