@model OpenShiftScheduler.Models.AppModels.EmployeeShiftSkill

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeeShiftSkill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShiftSkill)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShiftSkill.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeeShiftSkillId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
