@model OpenShiftScheduler.Models.AppModels.ShiftParticipation

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ShiftParticipation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shift)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Shift.ShiftId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ShiftParticipationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
