@model IEnumerable<OpenShiftScheduler.Models.AppModels.ShiftParticipation>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shift)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shift.ShiftId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShiftParticipationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShiftParticipationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShiftParticipationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
