@page
@model OSS.Web.Shifts.RosterModel
@using OSS.Domain.Entities;
@{
    ViewData["Title"] = "Roster";
}

    <form method="post">
        <label asp-for="Query.StartDate"></label>
        <input asp-for="Query.StartDate" type="date" />
        <label asp-for="Query.EndDate" class="ml-4"></label>
        <input asp-for="Query.EndDate" type="date" />
        <button type="submit" class="btn btn-primary mr-4 ml-4">Load</button>
        <a asp-page="/Shifts/PrintableRoster">Printable Roster</a>

        @if (Model.Roster.ShiftTypes != null && Model.Roster.ShiftParticipations != null)
        {
            <table id="dis_table" class="table table-striped table-bordered table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>Date</th>
                        @foreach (string sType in Model.Roster.ShiftTypes)
                        {
                            <th>@sType</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (KeyValuePair<DateTime, List<List<Tuple<string, ShiftParticipationType>>>> day_parts in Model.Roster.ShiftParticipations)
                    {
                        <tr>
                            <td>
                                <label class="hiddenDate">@day_parts.Key.ToString("yyyy-MM-dd")</label> @day_parts.Key.ToString("dd-MMM-yy")
                            </td>
                            @foreach (List<Tuple<string, ShiftParticipationType>> day_shift_parts in day_parts.Value)
                            {
                                <td>
                                    <div>
                                        @foreach (Tuple<string, ShiftParticipationType> day_shift_part in day_shift_parts)
                                        {
                                            List<string> partClasses = new List<string>();
                                            List<string> partStyles = new List<string>();
                                            if (day_shift_part.Item2 != null)
                                            {
                                                if (day_shift_part.Item2.IsAbsence == true)
                                                {
                                                    partClasses.Add("absence_part");
                                                }
                                                if (day_shift_part.Item2.IsBold == true)
                                                {
                                                    partClasses.Add("bold_part");
                                                }
                                                //if (day_shift_part.Item2.Name.ToLower() == "from general")
                                                //{
                                                //    partClasses.Add("general_part");
                                                //}
                                                partStyles.Add($"color:{day_shift_part.Item2.ColorString}");
                                                partStyles.Add($"background-color:{day_shift_part.Item2.BgClrString}");
                                                partStyles.Add($"padding:0.2rem");
                                            }
                                            <span class="@String.Join(" ", partClasses.ToArray())" style="@String.Join(";", partStyles.ToArray())">@day_shift_part.Item1</span>
                                            <br />
                                        }
                                    </div>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }

        @if (Model.Roster.ShiftTypes != null && Model.Roster.ShiftComments != null)
        {
            <hr />
            <h3>Remarks</h3>
            <table id="com_table" class="table table-striped table-bordered table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Shift</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Tuple<DateTime, string, string> shift_comms in Model.Roster.ShiftComments)
                    {
                        <tr>
                            <td>
                                <label class="hiddenDate">@shift_comms.Item1.ToString("yyyy-MM-dd")</label>@shift_comms.Item1.ToString("dd-MMM-yy")
                            </td>
                            <td>
                                @shift_comms.Item2
                            </td>
                            <td>
                                @shift_comms.Item3
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </form>

@section Scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/fc-3.2.5/fh-3.1.4/r-2.2.2/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/fc-3.2.5/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
    @*<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>*@
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    @*<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    @*<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>*@
    <script>
        $(document).ready(function () {
            $('#dis_table').DataTable({
                fixedColumns: true,
                scrollX: true,
                columnDefs: [{
                    targets: [0],
                    orderData: [0]
                }],
                scrollCollapse: true,
                paging: false,
                dom: 'Bfrtip',
                buttons: ['pdf']
            });
            $('#com_table').DataTable({
                scrollX: true,
                columnDefs: [{
                    targets: [0],
                    orderData: [0]
                }],
                scrollCollapse: true,
                paging: false,
                dom: 'Bfrtip',
                buttons: ['pdf']
            });
        });
    </script>
    <style>
        .absence_part {
            text-decoration: line-through;
        }

        .bold_part {
            font-weight: bold;
        }
        /*.general_part {
            color: blue;
        }*/
        .hiddenDate {
            color: transparent;
            font-size: 0.1em
        }
    </style>
}