@model OpenShiftScheduler.Models.AppModels.Shift

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shift</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShiftType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShiftType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShiftDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShiftDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ShiftId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
