
@{
    @using React.AspNet
    ViewData["Title"] = "ShiftsUI";
}

<h2>Shifts</h2>

<div id="content"></div>
<script crossorigin src="@Url.Content("~/lib/react/react.production.min.js")"></script>
<script crossorigin src="@Url.Content("~/lib/react/react-dom.production.min.js")"></script>
<script crossorigin src="@Url.Content("~/lib/redux/redux.min.js")"></script>
<script crossorigin src="@Url.Content("~/lib/react-redux/react-redux.min.js")"></script>
<script crossorigin src="@Url.Content("~/lib/redux-thunk/redux-thunk.min.js")"></script>
<script src="@Url.Content("~/js/sample.jsx")"></script>