@{
    ViewData["Title"] = "About";
    @using React.AspNet
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<div id="content"></div>
<script crossorigin src="@Url.Content("~/lib/react/react.production.min.js")"></script>
<script crossorigin src="@Url.Content("~/lib/react/react-dom.production.min.js")"></script>
<script src="@Url.Content("~/js/sample.jsx")"></script>
